/* Stylesheet by Meiliu Wu, 2019 */

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#mapid {
    height: 600px;
    width: 100%;
    display: inline-block;
}

/*#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}*/

.sequence-control-container {
    width: 320px;
    height: 38px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 55px;
    text-align: center;
    /*border: solid gray 1px;*/
}

.legend-control-container{
    width: 250px;
    height: 230px;
    line-height: 20px;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 10px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    /*border: solid gray 1px;*/
}

.inputtext-control-container{
    width: 320px;
    height: 38px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 40px;
    text-align: center;
}

.filter {
    background-color: Transparent;
    border: none;
    outline:none;
    float: right;
    padding: 4px;
}

#range-min{
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}

#range-max{
    width: 60px;
    padding: 5px;
    margin-right: 10px;
}

.range-slider {
    width: 200px;
}

#forward {
    background-color: Transparent;
    float: right;
    border: none;
    outline:none;
}

#reverse {
    background-color: Transparent;
    float: left;
    border: none;
    outline:none;
}